<md-content>
	<div layout="column" layout-align="center center">
		<img ng-src="{{$root.currentUser.services.twitter.profile_image_url}}">
		<form ng-submit="ideas.createIdea(ideas.newIdea)">
			<div layout="row" layout-align="center center">
				<md-input-container>
					<label>Título</label>
					<input ng-model="ideas.newIdea.title">
				</md-input-container>
				<md-input-container>
					<label>Descripción</label>
					<input ng-model="ideas.newIdea.description">
				</md-input-container>
				<md-button type="submit">Guardar</md-button>
			</div>
			
		</form>
	</div>
</md-content>

<md-content>
	<md-card ng-repeat="idea in ideas.ideasList">
		<div layout="row" layout-align="end center">
			<md-button ng-if="$root.currentUser._id === idea.userId" ng-click="ideas.deleteIdea(idea)">Eliminar</md-button>
		</div>
		<md-card-content>
			<h2>{{idea.title}}</h2>
			<p>{{idea.description}}</p>
			<div layout="column">
				<div>
					<small>Creado por: {{idea.userName}}, en {{idea.insertDate | date : 'medium'}}</small>
				</div>
				<div>
					<small>Viable: si: {{idea.isViable.yes}}, no: {{idea.isViable.no}}</small>
				</div>
				<div>
					<small>Útil: si: {{idea.isUseful.yes}}, no: {{idea.isUseful.no}}</small>
				</div>
			</div>
		</md-card-content>
		<div layout="row" layout-align="end center">
			<md-button ng-href="opinion/{{idea._id}}">Opinar</md-button>
		</div>
	</md-card>
</md-content>